html,
body,
* {
    margin: 0%;
    padding: 0%;
}

.logo {
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 200%;
}

main {
    background: rgba(0, 0, 0, 0.164);
}

.navbar-nav li:hover {
    background: rgba(0, 128, 0, 0.438);
}

.navbar-nav li:hover a {
    color: rgb(125, 219, 122)!important;
}

li.active {
    background: rgba(0, 128, 0, 0.438);
}

li.active a {
    color: rgb(125, 219, 122)!important;
}

footer {
    background: #424242;
}

.white {
    color: white;
}

.escuela {
    font-family: 'Shadows Into Light Two', cursive;
}

.grey {
    color: rgb(206, 206, 206);
}

h5.unc {
    font-size: 300%;
    font-family: 'Gloria Hallelujah', cursive;
}

.grande {
    font-size: 300%;
    font-family: 'Gloria Hallelujah', cursive;
}

.pequeño {
    font-family: 'Architects Daughter', cursive;
    color: #0e7cd6;
}

.separar {
    margin-top: 2%;
}

.centrar {
    margin: auto 0% !important;
}