@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gvdoap');
  src:  url('fonts/icomoon.eot?gvdoap#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gvdoap') format('truetype'),
    url('fonts/icomoon.woff?gvdoap') format('woff'),
    url('fonts/icomoon.svg?gvdoap#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e904";
  color: #0077b5;
}
.icon-youtube:before {
  content: "\e902";
  color: #f00;
}
.icon-facebook:before {
  content: "\e903";
  color: #3b5998;
}
.icon-home:before {
  content: "\e900";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-info:before {
  content: "\ea0c";
}
